body {
  height: 100vh;
  width: 100vw;
  font-family: sans-serif;
}

.main {
  height: 98%;
  width: 99%;
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  align-items: center;
}

.score {
  height: 95vh;
  width: 15vh;
  margin-left: 5vh;
  margin-right: 5vh;
  /* background-color: blue; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.option {
  height: 15vh;
  width: 15vh;
  border-radius: 50%;
  /* background-color: goldenrod; */
  margin: 1vh;
  transition: transform 0.4s ease;
  background-size: 100% 100%;
}

.option:hover {
  transform: scale(1.05);
  /* background-color: gold; */
}

.board {
  height: 95vh;
  width: 95vh;
  min-width: 95vh;
  border-radius: 50%;
  background-color: goldenrod;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* background-color: blue; */
}

.space {
  height: 100%;
  border-radius: 50%;
  background-color: black;
  margin: 0 0.455%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.piece {
  height: 80%;
  width: 80%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.instruction {
  /* height: 15vh;
  width: 15vh; */
  /* border-radius: 50%;
  background-color: lightblue; */
  margin: 1vh;
  text-align: center;
}

.button {
  height: 15vh;
  width: 15vh;
  border-radius: 50%;
  background-color: silver;
  margin: 1vh;
  font-size: 100%;
  border: 0;
  transition: transform 0.4s ease;
}

.button:hover {
  transform: scale(1.05);
  background-color: grey;
}

.button:focus {
  outline: none;
}

.selection {
  height: 50%;
  width: 50%;
  border-radius: 50%;
  background-color: black;
}

.currentPlayer {
  height: 15vh;
  width: 15vh;
  border-radius: 50%;
}
